.container-fluid
  .row-fluid
    .span10.offset1.mobile-padding
      = render "shared/flash", :flash=>flash unless flash.blank?
      .row-fluid.dashboard-header.bb-1
        .span7
          %h2.mbn= "#{capitalize_phrase(@company.name)}’s Dashboard"
        .span5
          .dashboard-header-links
            = link_to("#{@company.subdomain}.jobcrush.co", root_url(subdomain:@company.subdomain), class:"mrl")
            = link_to("Edit company profile", :controller => "companies", :action=>"edit", :id=>@company.id)
  .row-fluid
    .span10.offset1.mobile-padding
      %section#awaiting-approval-box.highlight.tac
        %h4#awaiting-approval-message.mrl 6 posts awaiting approval
        %button.btn.btn-warning.btn-large Review now

  .row-fluid.mtxl
    .span10.offset1.mobile-padding
      .row-fluid
        .span7
          .row-fluid.dashboard-header.bb-1
            .span8
              %h3.mbn
                Talent Community
            .span4
              .dashboard-header-links
                = link_to("+ Add Talent", join_url(subdomain:@company.subdomain))
          .row-fluid
            .span12
              %section.highlight.tal
                .mbm
                  Share this link with talent you want to invite: 
                  = link_to("#{@company.subdomain}.jobcrush.co/join", join_url(subdomain:@company.subdomain), target:"_blank")
                .mbm.detail-text Invite people you've met at meetups, panels, hackathons, online - anyone you'd like to keep on your watchlist.
          .row-fluid
            .span12#dashboard_index.mtxl
              %h4.bb-1
                Creative
                %span.counter.pull-right (#{@creative.count})
              %ul.unstyled
                - @creative.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1= talent.email
              %h4.bb-1
                Operations
                %span.counter.pull-right (#{@operations.count})
              %ul.unstyled
                - @operations.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1= talent.email
              %h4.bb-1
                Sales / Marketing
                %span.counter.pull-right (#{@sales_marketing.count})
              %ul.unstyled
                - @sales_marketing.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1= talent.email
              %h4.bb-1
                Technology
                %span.counter.pull-right (#{@technology.count})
              %ul.unstyled
                - @technology.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1= talent.email

        .span5
          .row-fluid.dashboard-header.bb-1
            .span8
              %h3.mbn
                Admins
            .span4
              .dashboard-header-links
                = link_to("+ Add Admin", '/add-admin')
          .row-fluid
            .span12
              %ul.unstyled
                - @admins.each do |admin|
                  %li.bb-1.ptl= admin.email

          .row-fluid.dashboard-header.bb-1.mtxl
            .span12
              %h3.mbn
                Content Channels
          .row-fluid
            .span12
              %ul.unstyled
                %li.bb-1.ptl
                  Jobs page:
                  =link_to(@company.jobs_page, "http://instagram.com/#{@company.jobs_page}", target:"_blank")
                %li.bb-1.ptl
                  Instagram:
                  =link_to(@company.instagram_username, "http://instagram.com/#{@company.instagram_username}", target:"_blank")
                %li.bb-1.ptl
                  Facebook:
                  =link_to(@company.facebook, "http://facebook.com/#{@company.facebook}", target:"_blank")
                %li.bb-1.ptl
                  Twitter:
                  =link_to(@company.twitter, "http://twitter.com/#{@company.twitter}", target:"_blank")
                %li.bb-1.ptl
                  Tumblr:
                  =link_to(@company.tumblr, "http://tumblr.com/#{@company.tumblr}", target:"_blank")

