.container-fluid
  .row-fluid
    .span10.offset1.mobile-padding.white-background.mtxl
      = render "shared/flash", :flash=>flash unless flash.blank?
      .row-fluid.dashboard-header.bb-1
        .span7
          .gears.mtl.mrm.pull-left
          %h2.mbn.ptl= capitalize_phrase(@company.name)
        .span5
          .dashboard-header-links
            = link_to("#{@company.subdomain}.circ.co", root_url(subdomain:@company.subdomain), class:"hidden-phone hidden-tablet mrl")
            = link_to("Edit company profile", :controller => "companies", :action=>"edit", :id=>@company.id)
  -if @company.posts_to_review_count > 0
    .row-fluid
      .span10.offset1.mobile-padding.white-background
        %section#awaiting-approval-box.highlight.tac
          %h4#awaiting-approval-message.mrl= "#{@company.posts_to_review_count} posts awaiting approval"
          =link_to("Review now", posts_url, :class=>"btn btn-warning btn-large")

  .row-fluid
    .span10.offset1.mobile-padding.ptxl.white-background
      .row-fluid
        .span7
          .row-fluid.dashboard-header.bb-1
            .span8
              %h3.mbn
                Talent Community
            .span4
              .dashboard-header-links
                = link_to("+ Add Talent", '/add-talent')
          .row-fluid
            .span12
              %section.highlight.tal
                .mbm
                  Share this link with talent you want to invite: 
                  = link_to("#{@company.subdomain}.circ.co/join", join_url(subdomain:@company.subdomain))
                .mbm.detail-text Invite people you've met at meetups, panels, hackathons, online - anyone you'd like to keep on your watchlist.
          .row-fluid
            .span12#dashboard_index.mtxl
              %h4.bb-1
                Creative
                %span.counter.pull-right (#{@creative.count})
              %ul.unstyled
                - @creative.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1
                      = talent.email.downcase
                      %span.gray-light= " - #{capitalize_phrase(talent.profile.full_name)}" if !talent.profile.full_name.empty?
                      %span.rating
                        - talent.star_rating(@company.id).times do |rating|
                          %span.rating-star-fixed
              %h4.bb-1
                Operations
                %span.counter.pull-right (#{@operations.count})
              %ul.unstyled
                - @operations.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1
                      = talent.email.downcase
                      %span.gray-light= " - #{capitalize_phrase(talent.profile.full_name)}" if !talent.profile.full_name.empty?
                      %span.rating
                        - talent.star_rating(@company.id).times do |rating|
                          %span.rating-star-fixed
              %h4.bb-1
                Sales / Marketing
                %span.counter.pull-right (#{@sales_marketing.count})
              %ul.unstyled
                - @sales_marketing.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1
                      = talent.email.downcase
                      %span.gray-light= " - #{capitalize_phrase(talent.profile.full_name)}" if !talent.profile.full_name.empty?
                      %span.rating
                        - talent.star_rating(@company.id).times do |rating|
                          %span.rating-star-fixed
              %h4.bb-1
                Technology
                %span.counter.pull-right (#{@technology.count})
              %ul.unstyled
                - @technology.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1
                      = talent.email.downcase
                      %span.gray-light= " - #{capitalize_phrase(talent.profile.full_name)}" if !talent.profile.full_name.empty?
                      %span.rating
                        - talent.star_rating(@company.id).times do |rating|
                          %span.rating-star-fixed

        .span5#dashboard-right-column
          .row-fluid.dashboard-header.bb-1
            .span8
              %h3.mbn
                Content
            .span4
              .dashboard-header-links
                = link_to("+ View content library", posts_url(subdomain:@company.subdomain))
          .row-fluid
            .span12
              %ul.unstyled
                - unless @company.jobs_page.blank?
                  %li.bb-1.ptl
                    Jobs page:
                    =link_to(@company.jobs_page, "http://instagram.com/#{@company.jobs_page}", target:"_blank")
                - unless @company.instagram_username.blank?
                  %li.bb-1.ptl
                    Instagram:
                    =link_to(@company.instagram_username, "http://instagram.com/#{@company.instagram_username}", target:"_blank")
                - unless @company.instagram_location_id.blank?
                  %li.bb-1.ptm
                    Instagram location:
                    %span.gray-light active
                - unless @company.facebook.blank?
                  %li.bb-1.ptm
                    Facebook:
                    =link_to(@company.facebook, "http://facebook.com/#{@company.facebook}", target:"_blank")
                - unless @company.tumblr.blank?
                  %li.bb-1.ptm
                    Tumblr:
                    =link_to(@company.tumblr, "http://#{@company.tumblr}", target:"_blank")
                - unless @company.foursquare_v2_id.blank?
                  %li.bb-1.ptm
                    Foursquare:
                    =link_to("foursquare page", "https://foursquare.com/v/#{@company.foursquare_v2_id}", target:"_blank")


          .row-fluid.dashboard-header.bb-1.mtxl
            .span8
              %h3.mbn
                Admins
            .span4
              .dashboard-header-links
                = link_to("+ Add Admin", new_admin_invite_path)
          .row-fluid
            .span12
              %ul.unstyled
                - @admins.each do |admin|
                  %li.bb-1.ptm
                    - if admin.profile.full_name.length > 1
                      = capitalize_phrase(admin.profile.full_name)
                    - else
                      = admin.email
                    - if admin.pending
                      %em
                        = link_to(" - pending", admin_invite_url(admin.admin_invite_token), :class=>"gray-light")
          - if current_user.god?
            .row-fluid.dashboard-header.bb-1.mtxl
              .span8
                %h3.mbn
                  God Actions
            .row-fluid
              .span12
                = form_for @company, :html=>{:class=>"mtl company-show-in-index-form"} do |f|
                  %strong Show in index?
                  %label.inline-radio-label.mlm{:for=>"company_show_in_index_true"}
                    = f.radio_button :show_in_index, true, :checked=> @company.show_in_index
                    Yes
                  %label.inline-radio-label.mlm{:for=>"company_show_in_index_false"}
                    = f.radio_button :show_in_index, false, :checked=> !@company.show_in_index
                    No
                  %span.save-callback-message.mll
                = form_for @company, :method=>"delete" do |f|  
                  = f.submit "Delete company", class:"btn btn-warning", onclick:"return confirm('Are you sure?');"