.span8.column-center
  %h3.text-center.mobile-padding.mbxl Great! Now help #{capitalize_phrase(@company.name)} better match you with opportunities by completing the fields below.
%hr
%section
  .span5.column-center.mobile-padding
    = link_to("Auto-fill with LinkedIn", callback_session_url(id:@user.auth_token), class:"btn btn-linkedin btn-large btn-block mtxl mbm")
    = form_for @profile, url:"/profiles/#{@profile.user.auth_token}" do |f|
      .row-fluid.mtl
        .controls.controls-row
          = f.text_field :first_name, class:"span6", placeholder:"First name"
          = f.text_field :last_name, class:"span6", placeholder:"Last name"
      %p
        = f.text_field :job_title, class:"input-block-level", placeholder:"Ideal job title"
      %p
        .inline_error= @profile.errors[:url].first
        = f.text_field :url, class:"input-block-level", placeholder:"Your site, blog or Linkedin profile"
      %p
        :javascript
          $(document).ready(function() {
              $("#skills").autoSuggest($.parseJSON('#{@tags}'), {preFill:"#{@incoming_tags}", startText:"Skills & tools", asHtmlID: true, minChars:2, neverSubmit: true, emptyText: "Separate tags with a comma or tab", keyDelay:"50", selectedItemProp: "name", searchObjProps: "name", selectedValuesProp: "name"});
           });
        = text_field_tag nil, nil, {id:"skills"}
        .help-block.small List a handful. i.e Excel, baking, Ruby, Agile, responsive design...
      = f.submit("Submit", class:"btn btn-large btn-primary btn-block mtxl mbm")

