#user
  .row.inner
    .col.span_5
      &nbsp;
    .col.span_7
      = form_tag login_url do
        %p
          = label_tag :email
          = text_field_tag :email, params[:email]
        %p
          = label_tag :password
          = password_field_tag :password
        #submit_wrapper
          = submit_tag "Login", class:"btn huge fl"
