#user
  .container
    - if !flash.blank?
      .row-fluid
        .span12.form-row-narrow.column-center.mobile-padding
          = render "shared/flash", :flash=>flash
    .row-fluid
      .span12.form-row-narrow.column-center.mobile-padding
        .well
          = form_tag login_url do
            %p
              = email_field_tag :email, params[:email], class:"input-block-level", placeholder:"Email"
            %p
              = password_field_tag :password, nil, class:"input-block-level", placeholder:"Password"
            = submit_tag("Login", class:"btn btn-primary span12 mbl")
            = link_to("Forgot password?", new_password_reset_path)
            = hidden_field_tag :redirect_back, params[:redirect_back]