!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{style:"font-family:Lucida Grande; line-height:1.3; color:#777; font-size:15px; "}
    %table{width:"100%",bgcolor:"#F2F2F2"}
      %tr
        %td
          %br
          %br
          %table{width:"600px",  align:"center"}
            %tr
              %td{align:"center"}
                = link_to("http://getinnercircle.com") do
                  %img{src:"http://fbb10cc56329cb5ea057-4ca1418a7613371d048778718c3acae9.r81.cf1.rackcdn.com/inner_circle_logo.png", alt:"inner circle"}
          %br
          %table{width:"600px", bgcolor:"white", align:"center", style:"padding:15px 15px 20px 15px; border-bottom:1px solid #ccc;"}
            %tr
              %h2{width:"100%", style:"color:#333;margin-bottom:10px;font-size:22px;font-weight:bold;"}
                = "#{@total_new_posts} New Post#{@total_new_posts != 1 ? 's' : ''} on Inner Circle"
            %tr
              %td{width:"100%", style:"font-size:18px;padding-left:25px;"}
                %b= @posts_to_review_count
                ="post#{@posts_to_review_count != 1 ? "s" : ""} to review"
            %tr
              %td{width:"100%", style:"font-size:18px;padding-left:25px;"}
                %b= @posts_auto_published_count
                ="post#{@posts_auto_published_count != 1 ? "s" : ""} auto-published"
            %tr
              %td{width:"100%", style:"text-align:center;"}
                %br
                %br
                = link_to("Review Your Posts Now", posts_url(subdomain:@company.subdomain), :style=>"color: white !important;text-decoration: none;background: #42a3ff;border: 1px solid #42a3ff;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;box-sizing: border-box;-webkit-box-shadow: 0 2px 2px #787878;-moz-box-shadow: 0 2px 2px #787878;box-shadow: 0 2px 2px #787878;cursor: pointer;display: inline-block;line-height: 20px;margin-bottom: 0;padding: 11px 19px;text-shadow: none !important;text-align: center;vertical-align: middle;font-size: 18px")
          %br
          %br
          %table{width:"600px",  align:"center"}
            %tr
              %td{align:"center"}
                %p{style:"font-size:11px; color:#666;"}
                  = link_to("InnerCircle", "http://getinnercircle.com", style:"color:#666")
                  902 Broadway 4th Flr. New York, NY 10010
                  %br
                  %br

