.container-fluid
  .row-fluid
    .span10.offset1.mobile-padding
      .row-fluid.dashboard-header.bb-1
        .span9
          %h1.mbn= current_company.name + '\'s Dashboard'
        .span3
          .dashboard-header-links
            = link_to("#{current_company.subdomain}.jobcrush.co", join_url(subdomain:current_company.subdomain), target:"_blank", class:"mrl")
            = link_to("Edit profile", '/profile')
  .row-fluid
    .span10.offset1.mobile-padding
      %section#awaiting-approval-box.highlight.tac
        %h4#awaiting-approval-message.mrl 6 posts awaiting approval
        %button.btn.btn-warning.btn-large Review now

  .row-fluid.mtxl
    .span10.offset1.mobile-padding
      .row-fluid
        .span7
          .row-fluid.dashboard-header.bb-1
            .span8
              %h3.mbn
                Talent Community
            .span4
              .dashboard-header-links
                = link_to("+ Add Talent", '/add')
          .row-fluid
            .span12
              %section.highlight.tal
                .mbm Who should I invite?
                .mbm.detail-text Invite people you've met at meetups, panels, hackathons, online - anyone you'd like to keep on your watchlist.
                Share this link with people you want to invite: 
                = link_to("#{current_company.subdomain}.jobcrush.co/join", join_url(subdomain:current_company.subdomain), target:"_blank")
          .row-fluid
            .span12#dashboard_index.mtxl
              %h4.bb-1
                Creative
                %span.counter.pull-right (#{@creative.count})
              %ul.unstyled
                %li.bb-1 Kenny Chan
                %li.bb-1 Kenny Chan
                - @creative.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1= talent.email
              %h4.bb-1
                Operations
                %span.counter.pull-right (#{@operations.count})
              %ul.unstyled
                - @operations.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1= talent.email
              %h4.bb-1
                Sales / Marketing
                %span.counter.pull-right (#{@sales_marketing.count})
              %ul.unstyled
                - @sales_marketing.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1= talent.email
              %h4.bb-1
                Technology
                %span.counter.pull-right (#{@technology.count})
              %ul.unstyled
                - @technology.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1= talent.email

        .span5
          .row-fluid.dashboard-header.bb-1
            .span8
              %h3.mbn
                Admins
            .span4
              .dashboard-header-links
                = link_to("+ Add Admin", '/add-admin')
          .row-fluid
            .span12.mtm
              %ul.unstyled
                %li.bb-1.ptl Kenny Chan
                %li.bb-1.ptl Kenny Chan
                - @sales_marketing.each do |talent|
                  = link_to user_url(talent) do
                    %li.bb-1.ptl= talent.email

          .row-fluid.dashboard-header.bb-1.mtxl
            .span12
              %h3.mbn
                Content Channels
          .row-fluid
            .span12.mtm
              %ul.unstyled
                %li.bb-1.ptl 
                  Jobs page: 
                  =link_to("jobs.test.com", 'http://jobs.test.com', target:"_blank")
                %li.bb-1.ptl 
                  Instagram: 
                %li.bb-1.ptl 
                  Facebook: 
                %li.bb-1.ptl 
                  Twitter: 
                %li.bb-1.ptl 
                  Tumblr: 

          

     
