.container
  .row
    .span1
      &nbsp;
    .span11
      - if current_company
        %h2
          Invite great people to join #{current_company.name}'s talent-community by sending them this link:
        %h4= link_to "#{current_company.subdomain}.getinnercircle.com/join", join_url(subdomain:current_company.subdomain)
%hr
.container
  .row
    .span1
      &nbsp;
    .span6
      %h3 Creatives (#{@creative.count})
      %ul
        - @creative.each do |talent|
          %li= link_to(capitalize_phrase(talent.full_name), user_url(talent))
      %h3 Operations (#{@operations.count})
      %ul
        - @operations.each do |talent|
          %li= link_to(capitalize_phrase(talent.full_name), user_url(talent))
      %h3 Sales & Marketing (#{@sales_marketing.count})
      %ul
        - @sales_marketing.each do |talent|
          %li= link_to(capitalize_phrase(talent.full_name), user_url(talent))
      %h3 Technology (#{@technology.count})
      %ul
        - @technology.each do |talent|
          %li= link_to(capitalize_phrase(talent.full_name), user_url(talent))
    .span3
      %section.highlite
        %h4 Who should I invite?
        %p
          Invite people you’ve met at meetups, panels, hackathons, online—anyone you’d like to keep on your watch-list.