.container-fluid
  = render "shared/flash", :flash=>flash unless flash.blank?
  .row-fluid
    .span12.mtm.placeholder.visible-phone
  .row-fluid
    - if @is_admin_adding
      .mtxl
    - else
      .span12.form-row.column-center
        - if @local_join
          #logo.column-center.mtm.mbm= image_tag(@company.logo_url(:large))
          %h4.text-center.mobile-padding.mtm.mbxl.lh-24 Create an <i>inner circle</i> account to privately join #{capitalize_phrase(@company.name)}’s talent-community
        - else
          #logo.column-center.mtm= image_tag(@company.logo_url(:large))
          %h4.text-center.mobile-padding.mbxl.ptl.lh-24 Privately join our talent-community to receive job opportunities that match your skills
      %hr
  .row-fluid
    .span12.form-row.column-center.mobile-padding
      = form_for @user do |f|
        = hidden_field_tag :is_admin_adding, @is_admin_adding
        = hidden_field_tag :local_join, @local_join
        - if @is_admin_adding
          = f.fields_for :profile do |p|
            .controls.controls-row
              .inline_error= @user.errors[:name].first
              = p.text_field :first_name, class:"span6", placeholder: "* First Name"
              = p.text_field :last_name, class:"span6", placeholder: "* Last Name"
        .controls
          .inline_error= "This email #{@user.errors[:email].first}" if @user.errors[:email].first
          = f.text_field :email, class:"span12", placeholder:"* Email"
        - if @local_join
          %p
            .inline_error= @user.errors[:password].first
            = f.password_field :password, class:"span12", placeholder:"* Password"
        .controls.mtm.mbl
          .inline_error= @user.errors[:categories].first
          .help-block.mbs
            %b= @is_admin_adding ? "* Categories" : "* Which category fits you best?"
          %p.checkbox-group
            - CompanyDept.all.each do |dept|
              = radio_button_tag("category", dept.id, (@depts.include?(dept.id.to_s) if @depts), name:'company_depts[]', class:"pull-left")
              = label_tag("category_#{dept.id.to_s}", capitalize_phrase(dept.name))
        - if @is_admin_adding
          .controls.mbl
            .inline_error= @user.errors[:star_rating].first
            %b.help-block.pull-left.mrm * Star Rating:
            %span.rating
              - [4, 3, 2, 1].each do |rating|
                =radio_button_tag(:star_rating, rating, @star_rating && rating==@star_rating, :class=>"rating-input")
                %label.rating-star{:for=>"star_rating_#{rating}"}
            .clearfix
          = f.fields_for :profile do |p|
            .controls
              = p.text_field :job_title, class:"span12", placeholder:"Ideal job title"
            .controls
              = p.text_field :url, class:"span12", placeholder:"Site, blog or Linkedin profile"
              .inline_error= @user.profile.errors[:url].first
            .controls.skills-control-block.mts
              = text_field_tag nil, nil, {id:"skills", class:"span12"}
              %span.help-block.small List a few (e.g., Excel, baking, Ruby, Agile, responsive design)
              %span#incoming-tags{style:"display:none;"}= @incoming_tags
              %span#existing-tags{style:"display:none;"}= @tags
          %p
          .controls
            = f.submit "Save", class:"btn btn-large mtl span4"
            = f.submit "Save & add another", class:"btn btn-large mtl span8"

        - else
          = f.submit("Join now", class:"btn btn-large btn-primary btn-block mvm span12", style:"background-color:#{@company.hex_code};border-color:#{@company.hex_code};")
          .tiny.text-center.mbxl
            Your membership is private. It’s just between you and #{capitalize_phrase(@company.name)}.
          .pbm

