.span6.column-center
  = image_tag(@company.banner_url(:large), class:"banner")
  %h1.text-center.mobile-padding= capitalize_phrase(@company.name)
%h4.text-center.mbxl Join our talent-community to receive job opportunities that match your skills.
%section.gray
  .span5.column-center.mobile-padding
    = form_for @user do |f|
      = f.hidden_field :role, value:"talent"
      %p
        .inline_error= @user.errors[:full_name].first
        = f.text_field :full_name, class:"input-block-level mtl", placeholder:"* Full name"
      %p
        .inline_error= @user.errors[:email].first
        = f.text_field :email, class:"input-block-level", placeholder:"* Email"

      .inline_error= @user.errors[:categories].first
      .help-block * Which category fits you best?
      - CompanyDept.all.each do |dept|
        %p.checkbox-group
          = check_box_tag("category_#{dept.id.to_s}", dept.id, (@depts.include?(dept.id.to_s) if @depts), name:'company_depts[]', class:"pull-left")
          = label_tag("category_#{dept.id.to_s}", capitalize_phrase(dept.name))
      %hr
      = f.fields_for :profile do |profile|
        %p
          .inline_error= @user.profile.errors[:job_title].first
          = profile.text_field :job_title, class:"input-block-level", placeholder:"* Job title"
        %p
          .inline_error= @user.profile.errors[:url].first
          = profile.text_field :url, class:"input-block-level", placeholder:"Your site, blog or Linkedin profile"
      %p
        :javascript
          $(document).ready(function() {
              $("#skills").autoSuggest($.parseJSON('#{@tags}'), {preFill:"#{@incoming_tags}", startText:"Skills & tools", asHtmlID: true, minChars:2, neverSubmit: true, emptyText: "Separate tags with a comma or tab", keyDelay:"50", selectedItemProp: "name", searchObjProps: "name", selectedValuesProp: "name"});
          });
        = text_field_tag nil, nil, {id:"skills"}
        .help-block.small List a handful. i.e Excel, baking, Ruby, Agile, responsive design...
      = f.submit("Join now", class:"btn btn-large btn-primary btn-block mtxl mbm")
      .small.text-center.mbxl
        Your membership is private. It’s just between you and #{capitalize_phrase(@company.name)}.
      .pbxl

