.container
  .col-md-5.centered.text-center.ptl
    = link_to(image_tag("jobcrush_logo.png", class:"jobcrush_logo"), root_url(subdomain:false))
    %h3.ptxl.pbl Sign Up to find the perfect job or just stay “in the know” with great companies
  %section.signup.col-md-4.white.centered
    = form_for @user do |f|
      .form-group
        .pull-left= f.label :email, "* EMAIL"
        .inline_error.pull-left= @user.errors[:email].first
        = f.email_field(:email, class:"form-control")
      .form-group
        .pull-left= f.label :password, "* PASSWORD"
        .inline_error.pull-left= @user.errors[:password].first
        = f.password_field(:password, class:"form-control")
      .help-block.ptl * HELP US CUSTOMIZE YOUR JOBCRUSH EXPERIENCE. WHAT FIELDS ARE YOU INTO?
      .inline_error= @user.errors[:company_depts].first
      - CompanyDept.all.each do |dept|
        %div
          = check_box_tag dept.name, dept.id, @user.company_depts.include?(dept), :name => 'user[company_dept_ids][]'
          = label_tag dept.name, dept.name.upcase
      = f.submit "SIGN UP", class:"btn btn-primary btn-block mtxl mbm"
      .tiny.text-center
        Your subscription is private and we'll never spam you.
