.container
  .col-md-5.centered.text-center.pbxl
    %h3 Stay “in the know” with great companies or find the perfect job
  %section.signup.col-md-4.white.centered
    = form_for @user do |f|
      .form-group
        = f.label :email, "EMAIL"
        = f.email_field(:email, class:"form-control")
      .form-group
        = f.label :password, "PASSWORD"
        = f.password_field(:password, class:"form-control")
      .help-block.ptl WHAT FIELDS DO YOU WORK OR ASPIRE TO WORK IN?
      - CompanyDept.all.each do |dept|
        %div
          = check_box_tag dept.name, dept.id, @user.company_depts.include?(dept), :name => 'user[company_dept_ids][]'
          = label_tag dept.name, dept.name.upcase
      = f.submit "SIGN UP", class:"btn btn-primary btn-block mtxl mbm"
      .tiny.text-center
        Your subscription is private and we'll never spam you.
