.container
  .row-fluid
    .span12.mobile-padding.column-center.phl
      = render "shared/flash", :flash=>flash unless flash.blank?
      %h3.mtl.mbm= @user.profile.full_name
      - if @star_rating
        =form_for @user do |f|
          %span.rating
            - [4, 3, 2, 1].each do |rating|
              =f.radio_button(:star_rating, rating, :checked=> rating==@star_rating, :class=>"rating-input")
              %label.rating-star{:for=>"user_star_rating_#{rating}"}
          %span.mlm#star-save-error
      = link_to(@user.profile.url, @user.profile.url, target:"_blank") if @user.profile.url
      %br
      = mail_to(@user.email, nil)
      - if current_user.admin_or_god?
        = form_for @user, :html=>{:class=>"mtl mbn"} do |f|
          = link_to "Go Back", dashboard_url, class:"btn"
          = f.submit "Remove User", class:"btn btn-warning", onclick:"return confirm('Are you sure?');" if @user.talent?
      
%hr
.container
  .row-fluid
    .span12.mobile-padding.column-center.phl
      .row-fluid
        .span6
          - if @user.profile.job_title
            %h4.mbs Job Title:
            = @user.profile.job_title.capitalize

          %h4.mbs.mtm Job category:
          %ul.unstyled
            - @user.profile.company_depts.each do |dept|
              %li= capitalize_phrase(dept.name == "other" ? @user.profile.profiles_company_depts.first.other_job_category : dept.name)

        .span6
          - unless @user.profile.skills.empty?
            %h4.mbs Skills & tools:
            %ul#skills.unstyled
              - @user.profile.skills.each do |skill|
                %li= skill