.container-fluid
  .row-fluid
    .span1
      &nbsp;
    .span11
      %h3.mbn.mtl.mobile-padding= @user.profile.job_title.capitalize if @user.profile.job_title
%hr
.container-fluid
  .row-fluid
    .span1
      &nbsp;
    .span8.mobile-padding
      = link_to(@user.profile.url, @user.profile.url, target:"_blank") if @user.profile.url
      %br
      = mail_to(@user.email, nil)
      .clearfix

      %h4.mtxl Job categories:
      %ul.unstyled
        - @user.profile.company_depts.each do |dept|
          %li= capitalize_phrase(dept.name)

      %h4.mtxl Skills & tools:
      %ul#skills.unstyled
        - @user.profile.skills.each do |skill|
          %li= skill