= form_for(@company, :html=>{multipart:true, :class=> 'form-horizontal'}) do |co|
  - if @user && @mode != 'update' && !@user.god?
    = co.fields_for :users, @user do |user|
      %h3.mtxl Your Info
      %hr.mtn
      .control-group
        %label.control-label{:for=>:first_name} * First Name
        .controls
          = text_field 'company[users_attributes][0][profile_attributes]', 'first_name', {:class => "span12", :value => @profile.first_name}
          .inline_error= @company.errors[:first_name].first
      .control-group
        %label.control-label{:for=>:last_name} * Last Name
        .controls
          = text_field 'company[users_attributes][0][profile_attributes]', 'last_name', {:class => "span12", :value => @profile.last_name}
          .inline_error= @company.errors[:last_name].first
      .control-group
        %label.control-label{:for=>:email} * Email
        .controls
          = user.email_field :email, :class=>'span12'
          .inline_error= @company.users.first.errors[:email].first
          %span.help-block.small Receipts and account notices will be sent here
      .control-group
        %label.control-label{:for=>:password} * Password
        .controls
          = user.password_field :password, :class=>'span12'
          .inline_error= @company.users.first.errors[:password].first
  %h3.mtxl Company Info
  %hr.mtn

  .control-group
    %label.control-label{:for=>:name} * Company Name
    .controls
      = co.text_field :name, :class=>'span12'
      .inline_error= @company.errors[:name].first

  .control-group
    %label.control-label{:for=>:website_url} * Website
    .controls
      = co.text_field :website_url, :class=>'span12'
      .inline_error= @company.errors[:website_url].first

  .control-group
    %label.control-label{:for=>:website_url} * LinkedIn identifiers
    .controls
      = co.fields_for @company.provider_identifiers.new do |pi|
        = pi.text_field :linkedin, value:@normalized_pi, class:'col-md-12'
        //.inline_error= @company.errors[:linkedin_identifiers].first

  .control-group
    %label.control-label{:for=>:short_description} 
      * Short Description
    .controls
      = co.text_area :short_description, :class=>'span12 pam', :maxlength=>"80", :rows=>"3"
      %span.help-block.small 80 characters max
      .inline_error= @company.errors[:short_description].first

  .control-group
    %label.control-label{:for=>:hq} * Headquarters
    .controls.controls-row
      = co.text_field :hq_city, {:class=>'span8', :placeholder=>'City'}
      = co.select :hq_state, Company.states, {}, {:class=> 'span4', :placeholder => "State"}
      .inline_error= @company.errors[:hq_city].first
      .inline_error= @company.errors[:hq_state].first

  .control-group
    %label.control-label{:for=>:employee_count} * Employees
    .controls.controls-row
      = co.select :employee_count, Company.employee_counts, {}, {:class=> 'span12'}
      .inline_error= @company.errors[:employee_count].first

  .control-group
    %label.control-label Company Categories
    .controls.controls-row
      = co.fields_for :verticals do |company_verticals|
        - Vertical.order(:name).each do |v|
          %label.checkbox{:for=>"vertical_#{v.id.to_s}", :class=>"two-column-checkbox-label span6"}
            = check_box_tag("vertical_#{v.id.to_s}", v.id, (@verticals.include?(v.id) if @verticals), name: 'verticals[]')
            = v.name
  .control-group
    %label.control-label{:for=>:hex_code} Main accent color
    .controls.controls-row
      -if !@company.hex_code.blank? && @company.errors[:hex_code].blank?
        .company-form-accent-color.span1.mvs{style:"background-color:#{@company.hex_code};"}
      = co.text_field :hex_code, {:class=>'span11', :placeholder=>'Hex code'}
      .inline_error= @company.errors[:hex_code].first

  .control-group
    %label.control-label * Company logo
    .controls.controls-row
      = image_tag(@company.logo, :width => 100) if @company.logo?
      = co.file_field :logo
      = co.hidden_field :logo_cache, :value => @company.logo_cache
      .inline_error= @company.errors[:logo].first

  %h3 Content Channels
  %hr.mtn

  .control-group
    %label.control-label{:for=>:instagram_username} Instagram username
    .controls.controls-row
      = co.text_field :instagram_username, {:class=>'span10', :placeholder=>'username'}
      %label.span1.radio-label{:for=>"company_instagram_username_auto_publish_true"}
        On
        = co.radio_button :instagram_username_auto_publish, true, :checked=> @company.instagram_username_auto_publish
      %label.span1.radio-label{:for=>"company_instagram_username_auto_publish_false"}
        Off
        = co.radio_button :instagram_username_auto_publish, false, :checked=> !@company.instagram_username_auto_publish
  .control-group
    %label.control-label{:for=>:instagram_location_id} Instagram location
    .controls.controls-row
      = co.text_field :instagram_location_id, {:class=>'span10', :placeholder=>'instagram or foursquare location id'}
      %label.span1.radio-label{:for=>"company_instagram_location_auto_publish_true"}
        On
        = co.radio_button :instagram_location_auto_publish, true, :checked=> @company.instagram_location_auto_publish
      %label.span1.radio-label{:for=>"company_instagram_location_auto_publish_false"}
        Off
        = co.radio_button :instagram_location_auto_publish, false, :checked=> !@company.instagram_location_auto_publish
  .control-group
    %label.control-label{:for=>:facebook} Facebook
    .controls.controls-row
      = co.text_field :facebook, {:class=>'span10', :placeholder=>'username'}
      %label.span1.radio-label{:for=>"company_facebook_auto_publish_true"}
        On
        = co.radio_button :facebook_auto_publish, true, :checked=> @company.facebook_auto_publish
      %label.span1.radio-label{:for=>"company_facebook_auto_publish_false"}
        Off
        = co.radio_button :facebook_auto_publish, false, :checked=> !@company.facebook_auto_publish
  .control-group
    %label.control-label{:for=>:tumblr} Tumblr
    .controls.controls-row
      = co.text_field :tumblr, {:class=>'span10', :placeholder=>'tumblr url'}
      %label.span1.radio-label{:for=>"company_tumblr_auto_publish_true"}
        On
        = co.radio_button :tumblr_auto_publish, true, :checked=> @company.tumblr_auto_publish
      %label.span1.radio-label{:for=>"company_tumblr_auto_publish_false"}
        Off
        = co.radio_button :tumblr_auto_publish, false, :checked=> !@company.tumblr_auto_publish
  .control-group
    %label.control-label{:for=>:foursquare_v2_id} Foursquare
    .controls.controls-row
      = co.text_field :foursquare_v2_id, {:class=>'span10', :placeholder=>'foursquare location id'}
      %label.span1.radio-label{:for=>"company_foursquare_auto_publish_true"}
        On
        = co.radio_button :foursquare_auto_publish, true, :checked=> @company.foursquare_auto_publish
      %label.span1.radio-label{:for=>"company_foursquare_auto_publish_false"}
        Off
        = co.radio_button :foursquare_auto_publish, false, :checked=> !@company.foursquare_auto_publish
  .control-group
    %label.control-label{:for=>:jobs_page} Jobs page
    .controls.controls-row
      = co.text_field :jobs_page, {:class=>'span10', :placeholder=>'Jobs page'}
  = co.submit @submit_button_text || "Create account", class:"btn btn-large span12 mtl"

