.navbar{:class => ("navbar-fixed-top" unless @is_not_fixed), style:"border-color:#{@company.hex_code if @company};"}
  .navbar-inner
    - if current_user
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse-border-div.pull-right
    = link_to(image_tag("inner_circle_logo.png"), root_url(subdomain:false, src:"nav"), :class=>"brand#{' hidden-phone' if @hide_logo_on_mobile}")
    = image_tag(@company.logo_url(:large), :class=>"navbar-company-logo") if @company && @referrer && @referrer == "internal"
    - if current_user
      .nav-collapse.collapse
        %ul.nav.pull-right
          - if current_user.god?
            %li= link_to("Companies", companies_url(subdomain:false))
            %li= link_to("#{capitalize_phrase(current_company.name)}’s Dashboard", dashboard_url) if current_company
          - if current_user.admin?
            %li= link_to("Dashboard", dashboard_url)
          %li.dropdown
            %a.display-strong.white.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              - unless current_user.profile.first_name.blank?
                = current_user.profile.first_name.capitalize
              - else
                = current_user.email
              %b.caret.caret-black
            %ul.dropdown-menu
              %li= link_to "Edit Your Profile", :controller => "users", :action=> "edit", :id => current_user.id
              %li= link_to "Logout", logout_url(subdomain:false)
    - else
      %ul.nav.pull-right.nav-no-collapse
        %li
          = link_to(for_companies_url(subdomain:false), class:"pull-right") do
            %span.company-cta Hiring?
        %li= link_to "Login", login_url
