- content_for :title do
  Discover and Follow Exciting Companies in Creative & Tech | JobCrush
- content_for :og_tags do
  %meta{property:"og:url", content:root_url(subdomain:false)}
  %meta{property:"og:image", content:URI.join(root_url, image_path('inner_circle_square.jpg'))}
  %meta{property:"og:title", content:"JobCrush"}
  %meta{property:"og:description", content:"Discover and Follow Exciting Companies in Creative & Tech"}
.container
  %section.hero.col-md-8.centered
    %h1
      DISCOVER AND FOLLOW EXCITING COMPANIES IN CREATIVE & TECH
    %h2.pbxl
      Find work with a company that fits your style or stay “in the know” by following today’s most inspiring companies.
    %h3.mtxl <span class="hero__highlight">EXPLORE</span>
    .arrow_down.centered
  %section.white.col-md-7.centered.mtl
    - @companies.each do |company|
      = link_to(root_url(subdomain:company.subdomain), {:class=>'company-filmstrip mbxl'}) do
        .mbs{:style=>"border-bottom-color:#{company.hex_code};"}
          - company.latest_posts_by_provider_date(3).each do |post|
            .company-filmstrip__image{class:post.wrapper_class}
              = image_tag(url_for_cdn_image(post, post.photo_url(:medium)))
          .clearfix
        .company-filmstrip__info.mbl
          .pull-right.company-filmstrip__last-updated-time= company.last_published_time
          .pull-left.company-filmstrip__name.mbn.mts= company.name.upcase
          .pull-left.company-filmstrip__hq.mlm.mts= company.hq_city
          .clearfix
          .company-filmstrip__description= company.short_description