= render 'shared/social_tag_script'
%section.container-fluid#homepage-top
  .row
    .span12.mobile-padding.phl.ptl.pbm.column-center
      %h1.mbl.mtl
        Meet Great Companies in Creative & Tech
      %h5.hidden-phone
        Not actively looking for work, but care to be privately notified of relavent job openings & events from inspiring companies? Let ’em know by joining their talent-communities.
      #homepage-top-tertiary-links.pbm
        Don't see your favorite companies? 
        =link_to "Tell us who you love", "https://docs.google.com/forms/d/168opPx2WH0TvstcC4SVQ9fxCQB5Xg-1iz_LT-tkyPhM/viewform", :target=>"_blank"
        so we can fix that.
      .social-links.pbm
        = render 'shared/social_tags', url:"http://getinnercircle.com"

%section.container-fluid#homepage-bottom
  .row-fluid
    .span12.pvl
      - @companyrows.each do |companyrow|
        .row-fluid
          - companyrow.each do |company|
            = link_to(root_url(subdomain:company.subdomain), {:class=>'company-wrapper pam span6'}) do
              .filmstrip.mbs{:style=>"border-bottom-color:#{company.hex_code};"}
                - company.latest_posts_by_provider_date(3).each do |post|
                  .filmstrip-image{:class=>post.wrapper_class}
                    = image_tag post.photo_url(:medium), :style=>post.offset(140)
                .clearfix
              .company-info
                .pull-right.company-last-updated-time.hidden-phone= company.last_published_time
                .pull-left.company-name.mbn.mts= capitalize_phrase(company.name)
                .pull-left.company-hq.mll.mts.hidden-phone= company.hq_city
                .clearfix
                .company-description= company.short_description