.container
  .row#homepage-top
    .span9.column-center.mobile-padding
      %h1
        Meet Great Companies in
        %br
        Creative & Tech
      %h5
        Not actively looking for work, but care to be privately notified of relavent job openings & events from inspiring companies? Let ’em know by joining their talent-communities.
  .row#homepage-bottom
    .span9.column-center
      - @companies.each do |company|
        = link_to(root_url(subdomain:company.subdomain), {:class=>'company-wrapper pam'}) do
          .filmstrip
            - company.latest_published_posts(3).each do |post|
              .filmstrip-image{:class=>post.wrapper_class}
                = image_tag post.media_url_small, :style=>post.offset(224)
            .clearfix
          .company-info
            .pull-left.company-name
              %h3.mbn.mts= company.name
            .pull-left.company-hq.mlm.mts= company.hq_city
            .clearfix
            .company-description= company.short_description