= render 'shared/social_tag_script'
%section.container-fluid#homepage-top
  .row-fluid
    .span12.mobile-padding.phl.ptl.column-center
      %h1.mtl
        Don't miss your dream job
  .row-fluid
    .span9.column-center.mobile-padding
      %h2
        Keep updated on opportunities and work life at these inspiring companies
      .mbm.visible-phone.placeholder
      .social-links.mtl.mbxl.hidden-phone
        = render 'shared/social_tags', url:"http://getinnercircle.com"

%section.container#homepage-bottom
  .row-fluid
    .span12
      - @companyrows.each do |companyrow|
        .row-fluid
          - companyrow.each do |company|
            = link_to(root_url(subdomain:company.subdomain), {:class=>'company-wrapper mbxl span6'}) do
              .filmstrip.mbs{:style=>"border-bottom-color:#{company.hex_code};"}
                - company.latest_posts_by_provider_date(3).each do |post|
                  .filmstrip-image{:class=>post.wrapper_class}
                    = image_tag post.photo_url(:medium), :style=>post.offset(140)
                .clearfix
              .company-info.mbl
                .pull-right.company-last-updated-time= company.last_published_time
                .pull-left.company-name.mbn.mts= capitalize_phrase(company.name)
                .pull-left.company-hq.mlm.mts= company.hq_city
                .clearfix
                .company-description= company.short_description
%section.container.mtl
  .row-fluid
    .span12.column-center.mobile-padding.mvl.text-center
      Don't see your favorite companies? 
      =link_to "Tell us who you love", "https://docs.google.com/forms/d/168opPx2WH0TvstcC4SVQ9fxCQB5Xg-1iz_LT-tkyPhM/viewform", :target=>"_blank"
      so we can fix that.