- content_for :title do
  inner circle - Don’t miss out on your dream job
- content_for :og_tags do
  %meta{property:"og:url", content:root_url(subdomain:false)}
  %meta{property:"og:image", content:"http://fbb10cc56329cb5ea057-4ca1418a7613371d048778718c3acae9.r81.cf1.rackcdn.com/inner_circle_logo.png"}
  %meta{property:"og:title", content:"inner circle"}
  %meta{property:"og:description", content:"Don’t miss out on your dream job"}
= render 'shared/social_tag_script'
%section.container#homepage-top
  .row-fluid
    .span12.mobile-padding.phl.ptl.column-center
      %h1.mtl
        Don’t miss out on your dream job
  .row-fluid
    .span9.mobile-padding.column-center.ptxl
      .row-fluid
        .span7.mobile-padding
          %h2
            %b Sign up to get a twice-weekly email with:
            %ul
              %li A feature on a new, inspiring company
              %li Top 10 jobs relevant to you
          = form_for @user, remote:true do |f|
            =hidden_field_tag :digest_subscription, "true"
            .controls
              .inline_error#email-error{style:"display:none;"}
              = f.email_field :email, placeholder:"Email", class:"span8"
              = f.submit("Subscribe", class:"btn btn-primary span4", onclick:"_gaq.push(['_trackEvent', 'Digest', 'Signup']);")
            .tiny.text-center.gray-light
              Your subscription is private and we'll never spam you.
            .controls.mtl.well.other-job-category-section.inactive{style:"display:none;"}
              .inline_error#categories-error{style:"display:none;"}
              .inline_error#other_job_category-error{style:"display:none;"}
              .help-block.mbs
                %b Which category fits you best?
              %p.checkbox-group.mobile-checkbox-group
                - CompanyDept.all.each do |dept|
                  = radio_button_tag("category", dept.id, (@depts.include?(dept.id.to_s) if @depts), name:'company_depts[]', class:"#{dept.name}-radio-tag")
                  = label_tag "category_#{dept.id.to_s}" do
                    = capitalize_phrase(dept.name)
                    - if dept.name == "other"
                      %br.visible-phone
                      = text_field("other_job_category", nil, value: @other_job_category, class:"mlm #{'field_with_errors' if @user.errors[:other_job_category].first}", placeholder:"* Job category")
                  %br
        .span5.mobile-padding
          .email-preview-image-wrapper
            .email-preview-image-wrapper-overlay
              = image_tag("shade.png")
            = image_tag("digest_mockup_small.png", class:"email-preview-image")
  .row-fluid
    .span8.mobile-padding.column-center
      .mbm.visible-phone.placeholder
      .social-links.mvm.hidden-phone
        = render 'shared/social_tags', url:"http://getinnercircle.com"
  .row-fluid
    .span8.mobile-padding.column-center.homepage-bottom-title
      %h3.mbn.gray-light Check out some of our featured companies

%section.container#homepage-bottom.mtm
  .row-fluid
    .span12
      - @companyrows.each do |companyrow|
        .row-fluid
          - companyrow.each do |company|
            = link_to(root_url(subdomain:company.subdomain), {:class=>'company-wrapper mbxl span6'}) do
              .filmstrip.mbs{:style=>"border-bottom-color:#{company.hex_code};"}
                - company.latest_posts_by_provider_date(3).each do |post|
                  .filmstrip-image{:class=>post.wrapper_class}
                    = image_tag post.photo_url(:medium), :style=>post.offset(140)
                .clearfix
              .company-info.mbl
                .pull-right.company-last-updated-time= company.last_published_time
                .pull-left.company-name.mbn.mts= capitalize_phrase(company.name)
                .pull-left.company-hq.mlm.mts= company.hq_city
                .clearfix
                .company-description= company.short_description
%section.container.mtl
  .row-fluid
    .span12.column-center.mobile-padding.ptm.pbxl.text-center
      Don’t see your favorite companies?
      =link_to "Tell us who you love", "https://docs.google.com/forms/d/168opPx2WH0TvstcC4SVQ9fxCQB5Xg-1iz_LT-tkyPhM/viewform", :target=>"_blank"
      so we can fix that.