- content_for :title do
  Following | JobCrush

.container
  .col-md-8
    .photo-modal.modal{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-body
          .modal-footer
            .media
              = link_to(image_tag("#", class:"modal-logo"), root_url(subdomain:"google"), class:"pull-left")
              .media-body
                .media-heading.modal-date
                .modal-caption
    %ul#masonry
      = render("posts/published", posts:@posts)
    .loader
  .col-md-4
    %h4 MORE COMPANIES TO FOLLOW
    %ul.list-unstyled
      - @suggested_companies.each do |company|
        - post = company.posts.where(published:true).first
        %li.suggested-company.clearfix
          .media
            .suggested-company__image-wrapper.media-object.pull-left 
              = link_to("", root_url(subdomain:company.subdomain), class:"suggested-company__image", style:"background-image: url(#{url_for_cdn_image(post, post.photo_url(:large))});")
            .media-body
              .media-heading= link_to(company.name.upcase, root_url(subdomain:company.subdomain))
              = truncate(company.short_description, length:75)
              %br
              = render("relationships/follow_btn", company:company, size:"mini")


