= form_for(@company, :html=>{multipart:true, :class=> 'form-horizontal'}) do |co|
  %fieldset
    = co.fields_for :users do |user|
      = user.hidden_field :role, value:"admin"
      %h3.form-section-header Your Info
      %hr.mtn
      .control-group
        %label.control-label{:for=>:first_name} * First Name
        .controls
          = text_field 'company[users_attributes][0][profile_attributes]', 'first_name', {:class => "span8", :value => @profile.first_name}
          .inline_error= @company.errors[:first_name].first
      .control-group
        %label.control-label{:for=>:last_name} * Last Name
        .controls
          = text_field 'company[users_attributes][0][profile_attributes]', 'last_name', {:class => "span8", :value => @profile.last_name}
          .inline_error= @company.errors[:last_name].first
      .control-group
        %label.control-label{:for=>:email} * Email
        .controls
          = user.text_field :email, :class=>'span8'
          .inline_error= @company.users.first.errors[:email].first
          %span.help-block.small Receipts and account notices will be sent here
      .control-group
        %label.control-label{:for=>:password} * Password
        .controls
          = user.password_field :password, :class=>'span8'
          .inline_error= @company.users.first.errors[:password].first

      %h3.form-section-header Company Info
      %hr.mtn

      .control-group
        %label.control-label{:for=>:name} * Company Name
        .controls
          = co.text_field :name, :class=>'span8'
          .inline_error= @company.errors[:name].first

      .control-group
        %label.control-label{:for=>:website_url} * Website
        .controls
          = co.text_field :website_url, :class=>'span8'
          .inline_error= @company.errors[:website_url].first

      .control-group
        %label.control-label{:for=>:short_description} 
          * Short Description
        .controls
          = co.text_area :short_description, :class=>'span8 pam', :maxlength=>"80", :rows=>"3"
          %span.help-block.small 80 characters max
          .inline_error= @company.errors[:short_description].first

      .control-group
        %label.control-label{:for=>:hq} * Headquarters
        .controls.controls-row
          = co.text_field :hq_city, {:class=>'span5', :placeholder=>'City'}
          = co.select :hq_state, Company.states, {}, {:class=> 'span3', :placeholder => "State"}
          .inline_error= @company.errors[:hq_city].first
          .inline_error= @company.errors[:hq_state].first

      .control-group
        %label.control-label{:for=>:employee_count} * Employees
        .controls.controls-row
          = co.select :employee_count, Company.employee_counts, {}, {:class=> 'span8'}
          .inline_error= @company.errors[:employee_count].first

      .control-group
        %label.control-label Company Categories
        .controls.controls-row
          = co.fields_for :verticals do |company_verticals|
            - Vertical.order(:name).each do |v|
              %label.checkbox{:for=>"vertical_#{v.id.to_s}", :class=>"two-column-checkbox-label span5"}
                = check_box_tag("vertical_#{v.id.to_s}", v.id, (@verticals.include?(v.id.to_s) if @verticals), name: 'verticals[]')
                = v.name
            
      .control-group
        %label.control-label * Company logo
        .controls.controls-row
          = co.file_field :banner
          .inline_error= @company.errors[:banner].first
      
      %h3.form-section-header Content Channels
      %hr.mtn

      .control-group
        %label.control-label{:for=>:content_instagram} Instagram
        .controls
          = co.text_field :content_instagram, {:class=>'span8', :placeholder=>'username'}
          
      .control-group
        %label.control-label{:for=>:content_facebook} Facebook
        .controls
          = co.text_field :content_facebook, {:class=>'span8', :placeholder=>'username'}
          
      .control-group
        %label.control-label{:for=>:content_tumblr} Tumblr
        .controls
          = co.text_field :content_tumblr, {:class=>'span8', :placeholder=>'account.tumblr.com'}
          
      .control-group
        %label.control-label{:for=>:content_twitter} Twitter
        .controls
          = co.text_field :content_twitter, {:class=>'span8', :placeholder=>'@username'}
          
      .control-group
        %label.control-label{:for=>:content_jobs_page} Jobs Page
        .controls
          = co.text_field :content_jobs_page, {:class=>'span8', :placeholder=>'jobs.company.com'}
          

      %p
      .control-group
        %label.control-label
        .controls
          = co.submit "Create account", class:"btn btn-large mtl span8"

