-if current_user && current_user.god? 
  .container
    = render "shared/flash", :flash=>flash unless flash.blank?
    .row-fluid
      .span8.column-center.mobile-padding
        %h2.mbxl All Companies
        %h3= link_to "+ Add Company", signup_url(subdomain:false)
        - @companies.each do |company|
          %h3= link_to(capitalize_phrase(company.name), dashboard_url(subdomain:company.subdomain))
-else
  .container
    .row
      .centered.col-md-8
        %ul.nav
          %li.col-md-6
            =form_tag companies_path, :method => 'get' do |f|
              /.search-icon= image_sprite(:magnify_glass)
              %input{:type => 'search', :name => 'q', :class => 'company-search', placeholder:"company name or location"}
          %li.col-md-6
            %a{"data-toggle"=>"dropdown", href: "#", class:"verticals-dropdown"}
              = @vertical.nil? ? "ALL":@vertical.upcase
              /%b.caret
            %ul.dropdown-menu
              - @verticals.each do |name|
                %li
                  = link_to(name, companies_url(vertical:name))
    .row.mtxl
      = render(partial:"companies/card", collection:@companies, as: :company)
