-if current_user && current_user.god? 
  .container
    = render "shared/flash", :flash=>flash unless flash.blank?
    .row-fluid
      .span8.column-center.mobile-padding
        %h2.mbxl All Companies
        %h3= link_to "+ Add Company", signup_url(subdomain:false)
        - @companies.each do |company|
          %h3= link_to(capitalize_phrase(company.name), dashboard_url(subdomain:company.subdomain))
-else
  .container
    .row
      %ul.nav
        %li.col-md-4
          = link_to("#", "data-toggle"=>"dropdown", class:"verticals-dropdown") do 
            = @vertical.nil? ? "ALL CATEGORIES":@vertical.upcase
            %b.caret.caret-large.pull-right
          %ul.dropdown-menu
            - @verticals.each do |name|
              %li
                = link_to(name, companies_url(vertical:name))
        %li.col-md-4
          = form_tag companies_path, method:'get' do
            %input{type:'search', name:'q', class:'company-search', value:"#{@q}", placeholder:"company name or location"}
    .row.company_cards.mtxl
      = render(partial:"companies/card", collection:@companies[0...Company::PAGINATION_LIMIT], as: :company)
      .loader
