.mbl
#sidebar
#company-info{class:"pull-left", style:"position:#{'fixed !important;' if referrer == "external"};"}
  %section
    #logo= image_tag(@company.logo_url(:large))
    = @company.short_description
    .tiny.gray-light= "#{@company.hq_city}, #{@company.hq_state} - #{@company.employee_count.gsub(/_/, "-")} employees"
  %hr
  %section
    %p
      Privately join #{capitalize_phrase(@company.name)}’s talent-community to be notified of future job openings that match your skills.
      %br
      = link_to("Join talent-community", join_url(subdomain: @company.subdomain), class:"btn btn-block mtm", style:"background-color:#{@company.hex_code};border-color:#{@company.hex_code};")

  %hr
  %section
    - if @referrer == "external"
      .powered-by
        Powered by
        =link_to(image_tag("inner_circle_logo.png"), root_url(subdomain: false))


%ul#masonry.masonry-published
  = render("posts/published", posts:@posts)
#infinite= will_paginate @posts
