- content_for :title do
  #{@company.name} on inner circle - Get updates on job opportunities and work life at #{capitalize_phrase(@company.name)}
- content_for :og_tags do
  %meta{property:"og:url", content:root_url}
  %meta{property:"og:image", content:@company.logo.url}
  %meta{property:"og:title", content:"#{@company.name} on JobCrush"}
  %meta{property:"og:description", content:"Follow daily life at #{capitalize_phrase(@company.name)}"}
= render 'shared/social_tag_script'
= render "shared/flash", :flash=>flash unless flash.blank?

.container
  .row
    .col-md-8
      .masonry-wrapper
        %ul#masonry.masonry-published
          = render("posts/published", posts:@posts)
    .col-md-4
      #company-info{'data-company-subdomain'=>@company.subdomain}
        %section.logo-and-short-description.mobile-padding
          %h2= link_to(@company.name.upcase, @company.website_url, target:"_blank")
          %hr
          = @company.short_description
          .tiny.gray-light= "#{@company.hq_city}, #{@company.hq_state} - #{@company.employee_count.gsub(/_/, "-")} employees"
        %section.mobile-padding
          = render("relationships/follow_btn", company:@company, size:"large")
          = link_to("JOBS", @company.jobs_page, class:"btn")
        %hr
    /= render 'shared/social_tags', url:root_url
