#sidebar
#company-info.pull-left
  %h2= capitalize_phrase(@company.name)
  %h5= @company.short_description
  %p= "#{@company.hq_city}, #{@company.hq_state}"
  .well
    Not actively looking for work?
    Join Kickstarter’s talent-community to be notified of future job openings that match your skills. Looking now?  View their current openings.
    %br
    = link_to("Join talent-community", join_url(subdomain: @company.subdomain), class:"btn btn-large btn-warning")

%ul#masonry.constrained.inline
  = render("posts/published", posts:@posts)
#infinite= will_paginate @posts


