- content_for :title do
  #{@company.name} on inner circle - Get updates on job opportunities and work life at #{capitalize_phrase(@company.name)}
- content_for :og_tags do
  %meta{property:"og:url", content:root_url}
  %meta{property:"og:image", content:@company.logo.url}
  %meta{property:"og:title", content:"#{@company.name} on JobCrush"}
  %meta{property:"og:description", content:"Follow daily life at #{capitalize_phrase(@company.name)}"}
= render 'shared/social_tag_script'
= render "shared/flash", :flash=>flash unless flash.blank?

.container
  .row
    .col-md-8
      .masonry-wrapper
        %ul#masonry.masonry-published
          = render("posts/published", posts:@posts)
      .loader
    .col-md-4
      %h1.company-name= link_to(@company.name.upcase, @company.website_url, target:"_blank")
      %p= @company.short_description
      .company-info
        HQ:
        = @company.hq_city
        , 
        = @company.hq_state
        | 
        = @company.employee_count.gsub(/_/, "-") 
        employees
      %hr.mtl
      .row.mts.mobile-padding
        .col-md-6
          = render("relationships/follow_btn", company:@company, size:"large")
        .col-md-6
          = link_to("JOBS", @company.jobs_page, class:"btn btn-block")
      - unless @connections.empty?
        %header.clearfix.mtxl
          .connection-flag.connection-flag-gray.mts.mrm.pull-left in
          %h5.pull-left
            YOU HAVE #{pluralize(@connections.length, "CONNECTION").upcase} HERE
        %ul.connections-list
          - @connections.each do |connection|
            = link_to(connection["public_profile_url"], target:"_blank") do
              %li
                = image_tag(connection["picture_url"])
                = "#{connection['first_name']} #{connection['last_name']}"

