- content_for :title do
  #{@company.name} on inner circle - Get updates on job opportunities and work life at #{capitalize_phrase(@company.name)}
- content_for :og_tags do
  %meta{property:"og:url", content:root_url}
  %meta{property:"og:image", content:@company.logo.url}
  %meta{property:"og:title", content:"#{@company.name} on inner circle"}
  %meta{property:"og:description", content:"Get updates on job opportunities and work life at #{capitalize_phrase(@company.name)}"}
= render 'shared/social_tag_script'
#company-info{:class=>"#{@referrer}"}
  %section.mobile-padding
    #logo{:class=>"#{@referrer}"}= link_to(image_tag(@company.logo_url(:large)), @company.website_url, target:"blank")
    = @company.short_description
    .tiny.gray-light= "#{@company.hq_city}, #{@company.hq_state} - #{@company.employee_count.gsub(/_/, "-")} employees"
  %hr
  %section.mobile-padding
    = render "shared/flash", :flash=>flash unless flash.blank?
    - if @has_current_user_already_joined
      .btn.btn-block.disabled.mtm{style:"background-color:#{@company.hex_code};border-color:#{@company.hex_code};"} ✓&nbsp;&nbsp;Subscribed
    - else
      = link_to("Subscribe", join_url(subdomain: @company.subdomain), class:"btn btn-block mtm", style:"background-color:#{@company.hex_code};border-color:#{@company.hex_code};", onclick:"_gaq.push(['_trackEvent', 'Companies', 'Go To Signup Form', '#{@company.subdomain}']);")
    .mts.gray-light.tac Get updates on job opportunities and work life at #{capitalize_phrase(@company.name)}
    .powered-by.visible-phone
      Powered by
      =link_to(image_tag("inner_circle_logo.png"), root_url(subdomain: false))
  - if @company.jobs_page
    %hr
    %section.mobile-padding
      = link_to("See current job openings", @company.jobs_page, class:"btn btn-block mtm", style:"background-color:#{@company.hex_code};border-color:#{@company.hex_code};", onclick:"_gaq.push(['_trackEvent', 'Companies', 'See Jobs', '#{@company.subdomain}']);", target:"_blank")
  %hr
  - if @referrer == "external"
    %section.mobile-padding.hidden-phone
      .powered-by
        Powered by
        =link_to(image_tag("inner_circle_logo.png"), root_url(subdomain: false))
  %section.social-links.tac.mvl.hidden-phone
    = render 'shared/social_tags', url:root_url
.masonry-wrapper
  %ul#masonry.masonry-published
    = render("posts/published", posts:@posts)
  #infinite= will_paginate @posts
