- content_for :title do
  #{@company.name} on inner circle - Find Great Companies in Creative and Tech
- content_for :og_tags do
  %meta{property:"og:url", content:root_url}
  %meta{property:"og:image", content:@company.logo.url}
  %meta{property:"og:title", content:"#{@company.name} on inner circle - Find Great Companies in Creative and Tech"}
  %meta{property:"og:description", content:"See what it's like to work at #{@company.name} and get updates on relevant opportunities"}
= render 'shared/social_tag_script'
.mbl
/ #sidebar
#company-info{class:"pull-left", style:"position:#{'fixed !important;' if referrer == "external"};"}
  %section
    #logo= link_to(image_tag(@company.logo_url(:large)), @company.website_url, target:"blank")
    = @company.short_description
    .tiny.gray-light= "#{@company.hq_city}, #{@company.hq_state} - #{@company.employee_count.gsub(/_/, "-")} employees"
  %hr
  %section
    %p
      Privately join #{capitalize_phrase(@company.name)}’s talent-community to be notified of future job openings that match your skills.
      %br
      - if @referrer == "external"
        = link_to("Join talent-community", join_url(subdomain: @company.subdomain), class:"btn btn-block mtm", style:"background-color:#{@company.hex_code};border-color:#{@company.hex_code};")
      - else
        = link_to("Join talent-community", join_url(subdomain: @company.subdomain, local_join:"true"), class:"btn btn-block mtm", style:"background-color:#{@company.hex_code};border-color:#{@company.hex_code};")

  %hr
  - if @referrer == "external"
    %section
      .powered-by
        Powered by
        =link_to(image_tag("inner_circle_logo.png"), root_url(subdomain: false))
  %section.social-links.tac.mtl
    = render 'shared/social_tags', url:root_url

%ul#masonry.masonry-published
  = render("posts/published", posts:@posts)
#infinite= will_paginate @posts
