.posts--960-static.centered
  %header.clearfix
    %div.pull-left
      %h3= "#{@company.name.upcase}’S CONTENT"
      %h4 Publish great photos that show what it’s like at #{capitalize_phrase(@company.name)}
    = link_to("View profile", root_url, class:"btn pull-right")
  %hr
  %ul#masonry.masonry-unpublished
    = render("posts/private", posts:@posts)
  .loader
