- content_for :title do
  inner circle - Don’t miss out on your dream job
- content_for :og_tags do
  %meta{property:"og:url", content:root_url(subdomain:false)}
  %meta{property:"og:image", content:"http://fbb10cc56329cb5ea057-4ca1418a7613371d048778718c3acae9.r81.cf1.rackcdn.com/inner_circle_logo.png"}
  %meta{property:"og:title", content:"inner circle"}
  %meta{property:"og:description", content:"Don’t miss out on your dream job"}
%section.newsletter-h1-section
  .container
    .row-fluid
      .span12.mobile-padding.text-center
        .mtxl
        %h1 We showcase exciting companies in creative & tech.
        %h1.mtl Get to know ’em — subscribe now!
%section.newsletter-signup-section
  .container
    = form_for @user, remote:true, html:{class:"mobile-padding"} do |f|
      .row-fluid.newsletter-signup-wrapper
        .span8
          = f.email_field :email, placeholder:"Email", class:"span12 mbn"
          .inline_error#email-error{style:"display:none;"}
          .tiny.gray-light.hidden-phone
            Your subscription is private. You can unsubscribe with one click and we'll never spam you.
          .mts.visible-phone
        .span4.subscribe-button-wrapper
          = f.submit("Subscribe", class:"btn btn-primary btn-large span12", onclick:"_gaq.push(['_trackEvent', 'Newsletter', 'Signup']);")
          = image_tag("http://06f29b33afa7ef966463-b188da212eda95ba370d870e1e01c1c9.r45.cf1.rackcdn.com/loader.gif", class:"subscribe-button-loading-animation")
          .tiny.gray-light.visible-phone
            Your subscription is private. You can unsubscribe with one click and we'll never spam you.
      .row-fluid.newsletter-signup-wrapper
        .span8.other-job-category-section-wrapper
          .well.controls.other-job-category-section.inactive{style:"display:none;"}
            .inline_error#categories-error{style:"display:none;"}
            .inline_error#other_job_category-error{style:"display:none;"}
            .help-block.mbs * Which category fits you best?
            %p.checkbox-group.mobile-checkbox-group
              - CompanyDept.all.each do |dept|
                = radio_button_tag("category", dept.id, (@depts.include?(dept.id.to_s) if @depts), name:'company_depts[]', class:"#{dept.name}-radio-tag pull-left")
                = label_tag "category_#{dept.id.to_s}", id:"#{'other-job-category-label' if dept.name == 'other'}" do
                  = capitalize_phrase(dept.name)
                  - if dept.name == "other"
                    = text_field("other_job_category", nil, value: @other_job_category, class:"mlm #{'field_with_errors' if @user.errors[:other_job_category].first}", placeholder:"* Job category")
%section.newsletter-preview-section
  .container
    .row-fluid
      .span12#newsletter-preview
        .newsletter-preview-wrapper
          =image_tag("sample_newsletter.png", class:"preview-badge")
          
          :plain
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #ededed;background-color: #ededed;">
                            <tbody><tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">
                                <!-- // Begin Template Header \\ -->
                                <table border="0" cellpadding="15" cellspacing="0" width="100%" id="templateHeader" style="background-color: #ededed;border-bottom: 0;margin-top: 20px;">
                                  <tbody><tr>
                                    <td class="headerContent" style="border-collapse: collapse;">
                                      <h1 mc:label="header_text" style="color: #333333;display: block;font-family: Arial;font-size: 24px;font-weight: bold;line-height: 100%;text-align: left;margin: 0;vertical-align: middle;">
                                        Keep these companies on your radar:
                                      </h1>
                                    </td>
                                    <td width="80" class="innerCircleLogoWrapper" style="border-collapse: collapse;">
                                      <!-- // Begin Module: Standard Header Image \\ -->
                                      <a href="http://getinnercircle.com/newsletter" target="_blank" style="border: none !important;">
                                        </a><a href="http://getinnercircle.com/newsletter" target="_blank" style="border: none !important;"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/inner_circle_logo.1.png" alt="" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 13px;width: 80px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;max-height: 14px;display: block;max-width: 80px;width-width: 80px;" width="80" height="13" class="innerCircleLogo"></a>
                                      
                                      <!-- // End Module: Standard Header Image \\ -->
                                    </td>
                                  </tr>
                                </tbody></table>
                                <!-- // End Template Header \\ -->
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">

                                <!-- // Begin Template Body Variant: Photos Only\\ -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateBody" mc:repeatable="repeat_1" mc:variant="Photos Only" style="padding: 15px;background: #ededed;" mc:repeatindex="0">
                                  <tbody><tr>
                                    <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #ededed;font-size: 15px;color: #333333;font-family: Arial;text-align: left;">
                                      <!-- // Begin Module: Standard Content \\ -->

                                    
                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #FFFFFF;">
                                        <tbody><tr>
                                          <td valign="top" style="border-collapse: collapse;">
                                            <table border="0" cellpadding="15" cellspacing="0" width="100%" style="background-color: #FFFFFF;">
                                              <tbody><tr class="companyBannerSection">
                                                <td style="border-collapse: collapse;border-bottom: 1px solid #dedede;">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #FFFFFF;">
                                                    <tbody><tr>
                                                      <td width="150" class="companyLogoWrapper" style="border-collapse: collapse;border-right: 1px solid #dedede;padding-right: 15px;">
                                                        <img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/Songza_email.png" alt="This Week's Company Logo" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 80px;width: 150px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 1;outline: none;text-decoration: none;text-transform: capitalize;max-width: 150px;max-height: 80px;display: inline;" width="150" height="80" class="companyLogo">
                                                      </td>
                                                      <td style="padding-left: 15px;border-collapse: collapse;" class="companyHeaderDesktop">
                                                        <div class="h3 companyShortDescription" style="color: #333333;display: block;font-family: Arial;font-size: 16px;font-weight: bold;line-height: 1.2;margin-bottom: 5px;text-align: left;background-color: #FFFFFF;">Good music makes good times</div>
                                                        <div class="companyLocation" style="color: #707070;font-size: 13px;line-height: 1.1;background-color: #FFFFFF;">New York, NY / 25 employees </div>
                                                      </td>
                                                    </tr>
                                                    <tr class="companyLocationMobile" style="display: none;font-size: 0;max-height: 0;line-height: 0;padding: 0;height: 0;width: 0;color: transparent;">
                                                      <td style="border-collapse: collapse;">
                                                        <div style="background-color: #FFFFFF;color: transparent;line-height: 0;display: none;font-size: 0;max-height: 0;padding: 0;height: 0;width: 0;">New York, NY / 25 employees </div>
                                                      </td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>
                                              <tr class="companyShortDescriptionMobile" style="display: none;font-size: 0;max-height: 0;line-height: 0;padding: 0;height: 0;width: 0;color: transparent;">
                                                <td style="border-collapse: collapse;padding: 0;">
                                                  <div class="h3" style="color: transparent;display: none;font-family: Arial;font-size: 0;font-weight: bold;line-height: 0;margin-bottom: 10px;text-align: left;background-color: #FFFFFF;max-height: 0;padding: 0;height: 0;width: 0;">Good music makes good times</div>
                                                </td>
                                              </tr>
                                              <tr class="companyDescription">
                                                <td style="padding: 15px;border-collapse: collapse;">
                                                  <p style="font-family: Arial;color: #707070;line-height: 1.5;margin: 0;">The only thing more awesome than listening to great music from Songza is being part of the team that makes Songza tick. We’re passionate about building products that are useful, simple, and delightful. Our goal is to make the things our users do every day better. Songza is in the Long Island City neighborhood of New York City — we’re one subway stop from Grand Central Station and you can practically spit into the East River from our office.</p>
                                                </td>
                                              </tr>
                                              <!-- Begin Company Photos -->
                                              <tr class="companyPhotosLeadIn">
                                                <td style="padding: 10px 15px 0 15px;border-collapse: collapse;">
                                                  <strong>
                                                    What's it like to work here?
                                                  </strong>
                                                </td>
                                              </tr>
                                              <tr class="companyPhotos">
                                                <td style="padding: 5px 15px 15px 15px;border-collapse: collapse;">
                                                  <table cellspacing="0" cellpadding="0" border="0" align="left" style="background-color: #FFFFFF;">
                                                    <tbody><tr>
                                                      <td style="border-collapse: collapse;">
                                                        <a href="http://songza.getinnercircle.com/" target="_blank"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_5479604_Aw91odlK3eNVH_rZTRvsLMskFierpTiK7uXiiosUUms.1.jpg" alt="See what it's like to work here!" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 265px;width: 265px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;max-width: 265px;max-height: 265px;display: inline;" width="265" height="265" class="companyPhoto companyPhoto1"></a>
                                                        <a href="http://songza.getinnercircle.com/" target="_blank"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_581134_10151197127699115_1339078471_n.1.jpg" alt="See what it's like to work here!" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 265px;width: 265px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;max-width: 265px;max-height: 265px;display: inline;" width="265" height="265" class="companyPhoto companyPhoto2"></a>
                                                        <a href="http://songza.getinnercircle.com/" target="_blank"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_602082_10151809464889115_1397168480_nd4f22e.jpg" alt="See what it's like to work here!" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 265px;width: 265px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;max-width: 265px;max-height: 265px;display: inline;" width="265" height="265" class="companyPhoto companyPhoto3"></a>
                                                        <a href="http://songza.getinnercircle.com/" target="_blank"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_293418_10151358970984115_463364617_n.1.jpg" alt="See what it's like to work here!" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 265px;width: 265px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;max-width: 265px;max-height: 265px;display: inline;" width="265" height="265" class="companyPhoto companyPhoto4"></a>
                                                      </td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>
                                              <!-- End Company Photos -->

                                              <!-- Begin CTA Button -->
                                              <tr>
                                                <td style="padding: 0 15px 15px 15px;border-collapse: collapse;">
                                                  <div class="CTAButtonWrapper" style="width: 265px;background-color: #FFFFFF;margin: 0 auto !important;float: none !important;border-radius: 4px !important;background: #0096ff !important;"><a class="CTAButton" href="http://songza.getinnercircle.com/" style="display: block;font-size: 17px;padding: 10px 0;text-align: center;color: #fff !important;text-decoration: none !important;font-weight: bold !important;width: 100% !important;border-radius: 4px !important;background: #0096ff !important;" target="_blank">See more Songza</a> </div>
                                                </td>
                                              </tr>
                                              <!-- End CTA Button -->
                                            
                                            </tbody></table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style="padding: 10px 0;border-collapse: collapse;background-color: #ededed;" class="backgroundColor">
                                          </td>
                                        </tr>
                                      </tbody></table>
                                      
                                      <!-- // End Module: Standard Content \\ -->

                                    </td>
                                  </tr>
                                </tbody></table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateBody" mc:repeatable="repeat_1" mc:variant="Photos Only" style="padding: 15px;background: #ededed;" mc:repeatindex="1">
                                  <tbody><tr>
                                    <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #ededed;font-size: 15px;color: #333333;font-family: Arial;text-align: left;">
                                      <!-- // Begin Module: Standard Content \\ -->

                                    
                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #FFFFFF;">
                                        <tbody><tr>
                                          <td valign="top" style="border-collapse: collapse;">
                                            <table border="0" cellpadding="15" cellspacing="0" width="100%" style="background-color: #FFFFFF;">
                                              <tbody><tr class="companyBannerSection">
                                                <td style="border-collapse: collapse;border-bottom: 1px solid #dedede;">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #FFFFFF;">
                                                    <tbody><tr>
                                                      <td width="150" class="companyLogoWrapper" style="border-collapse: collapse;border-right: 1px solid #dedede;padding-right: 15px;">
                                                        <img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/GA_email.1.png" alt="This Week's Company Logo" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 79px;width: 150px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 1;outline: none;text-decoration: none;text-transform: capitalize;max-width: 150px;max-height: 80px;display: inline;" width="150" height="79" class="companyLogo">
                                                      </td>
                                                      <td style="padding-left: 15px;border-collapse: collapse;" class="companyHeaderDesktop">
                                                        <div class="h3 companyShortDescription" style="color: #333333;display: block;font-family: Arial;font-size: 16px;font-weight: bold;line-height: 1.2;margin-bottom: 5px;text-align: left;background-color: #FFFFFF;">Transforming Thinkers into Creators</div>
                                                        <div class="companyLocation" style="color: #707070;font-size: 13px;line-height: 1.1;background-color: #FFFFFF;">New York, NY / 120 employees</div>
                                                      </td>
                                                    </tr>
                                                    <tr class="companyLocationMobile" style="display: none;font-size: 0;max-height: 0;line-height: 0;padding: 0;height: 0;width: 0;color: transparent;">
                                                      <td style="border-collapse: collapse;">
                                                        <div style="background-color: #FFFFFF;color: transparent;line-height: 0;display: none;font-size: 0;max-height: 0;padding: 0;height: 0;width: 0;">New York, NY / 120 employees</div>
                                                      </td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>
                                              <tr class="companyShortDescriptionMobile" style="display: none;font-size: 0;max-height: 0;line-height: 0;padding: 0;height: 0;width: 0;color: transparent;">
                                                <td style="border-collapse: collapse;padding: 0;">
                                                  <div class="h3" style="color: transparent;display: none;font-family: Arial;font-size: 0;font-weight: bold;line-height: 0;margin-bottom: 10px;text-align: left;background-color: #FFFFFF;max-height: 0;padding: 0;height: 0;width: 0;">Transforming Thinkers into Creators</div>
                                                </td>
                                              </tr>
                                              <tr class="companyDescription">
                                                <td style="padding: 15px;border-collapse: collapse;">
                                                  <p style="font-family: Arial;color: #707070;line-height: 1.5;margin: 0;"><span id="docs-internal-guid--caa0577-f2b0-85bc-1895-0423b2f3e6c5"><span style="color: rgb(0, 0, 0); background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">General Assembly is building a new model for learning the skills that have enabled this era of growth in entrepreneurial innovation. By connecting entrepreneurs, expert instructors, and motivated thinkers, GA is cultivating a multi-faceted community of like-minded individuals united by common goals, shared experiences, and the occasional dance party. General Assembly is looking for great people to join their growing team, both in the U.S. and abroad.</span></span></p>
                                                </td>
                                              </tr>
                                              <!-- Begin Company Photos -->
                                              <tr class="companyPhotosLeadIn">
                                                <td style="padding: 10px 15px 0 15px;border-collapse: collapse;">
                                                  <strong>
                                                    What's it like to work here?
                                                  </strong>
                                                </td>
                                              </tr>
                                              <tr class="companyPhotos">
                                                <td style="padding: 5px 15px 15px 15px;border-collapse: collapse;">
                                                  <table cellspacing="0" cellpadding="0" border="0" align="left" style="background-color: #FFFFFF;">
                                                    <tbody><tr>
                                                      <td style="border-collapse: collapse;">
                                                        <a href="http://generalassembly.getinnercircle.com/" target="_blank"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_2368ba88ddac11e1ad821231381b3c05_7.jpg" alt="See what it's like to work here!" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 265px;width: 265px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;max-width: 265px;max-height: 265px;display: inline;" width="265" height="265" class="companyPhoto companyPhoto1"></a>
                                                        <a href="http://generalassembly.getinnercircle.com/" target="_blank"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_23227_Hi2mWXJhBiYdcyooS0i9B4XXqDo_Rnsa6YTYyAIWjxM.1.jpg" alt="See what it's like to work here!" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 265px;width: 265px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;max-width: 265px;max-height: 265px;display: inline;" width="265" height="265" class="companyPhoto companyPhoto2"></a>
                                                        <a href="http://generalassembly.getinnercircle.com/"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_91486_BF9X_MMCLAsr1Y9zrz9AgU4QFh5N_k1emo25SxdZTo8.2.jpg" alt="See what it's like to work here!" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 265px;width: 265px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;max-width: 265px;max-height: 265px;display: inline;" width="265" height="265" class="companyPhoto companyPhoto3"></a>
                                                        <a href="http://generalassembly.getinnercircle.com/" target="_blank"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_dfc52822337611e2957722000a1f9a39_7.jpg" alt="See what it's like to work here!" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 265px;width: 265px;margin: 0;padding: 0;font-size: 14px;font-weight: bold;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;max-width: 265px;max-height: 265px;display: inline;" width="265" height="265" class="companyPhoto companyPhoto4"></a>
                                                      </td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>
                                              <!-- End Company Photos -->

                                              <!-- Begin CTA Button -->
                                              <tr>
                                                <td style="padding: 0 15px 15px 15px;border-collapse: collapse;">
                                                  <div class="CTAButtonWrapper" style="width: 265px;background-color: #FFFFFF;margin: 0 auto !important;float: none !important;border-radius: 4px !important;background: #0096ff !important;"><a class="CTAButton" href="http://generalassembly.getinnercircle.com/" style="display: block;font-size: 17px;padding: 10px 0;text-align: center;color: #fff !important;text-decoration: none !important;font-weight: bold !important;width: 100% !important;border-radius: 4px !important;background: #0096ff !important;" target="_blank">See more General Assembly</a> </div>
                                                </td>
                                              </tr>
                                              <!-- End CTA Button -->
                                            
                                            </tbody></table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style="padding: 10px 0;border-collapse: collapse;background-color: #ededed;" class="backgroundColor">
                                          </td>
                                        </tr>
                                      </tbody></table>
                                      
                                      <!-- // End Module: Standard Content \\ -->

                                    </td>
                                  </tr>
                                </tbody></table>
                                <!-- // End Template Body Variant: Photos Only \\ -->

                                <!-- // Begin Template Body Variant: Photos and Jobs\\ -->
                                
                                <!-- // End Template Body Variant: Photos and Jobs \\ -->


                                <!-- // Begin Template Body Variant: Top Jobs\\ -->
                                
                                <!-- // End Template Body Variant: Top Jobs \\ -->
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">
                                <!-- // Begin Template Footer \\ -->
                                <table border="0" cellpadding="10" cellspacing="0" width="100%" id="templateFooter" style="background-color: #ededed;border-top: 0;">
                                  <tbody><tr>
                                    <td valign="top" class="footerContent" style="border-collapse: collapse;">

                                      <!-- // Begin Module: Standard Footer \\ -->
                                      <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                        <tbody><tr>
                                          <td valign="top" style="border-collapse: collapse;">
                                            <div style="color: #707070;font-family: Arial;font-size: 13px;line-height: 125%;text-align: center;">
                                              
                                              <div class="vcard"><span class="org fn">Inner Circle</span><div class="adr"><div class="street-address">902 Broadway 4th floor</div><span class="locality">New York</span>, <span class="region">NY</span>  <span class="postal-code">10010</span></div></div>
                                              
                                              
                                            </div>
                                          </td>
                                        </tr>
                                      
                                      </tbody></table>
                                      <!-- // End Module: Standard Footer \\ -->

                                    </td>
                                  </tr>
                                </tbody></table>
                                <!-- // End Template Footer \\ -->
                              </td>
                            </tr>
                          </tbody></table>