- content_for :title do
  inner circle - Don’t miss out on your dream job
- content_for :og_tags do
  %meta{property:"og:url", content:root_url(subdomain:false)}
  %meta{property:"og:image", content:"http://fbb10cc56329cb5ea057-4ca1418a7613371d048778718c3acae9.r81.cf1.rackcdn.com/inner_circle_logo.png"}
  %meta{property:"og:title", content:"inner circle"}
  %meta{property:"og:description", content:"Don’t miss out on your dream job"}
%section.digest-top
  .container
    .row-fluid
      .span12.mobile-padding.text-center
        .mtxl.hidden-phone
        %h1 We've got our ears to the ground for the coolest companies in NYC.
        %h1.mtl Each week we'll send you the top 3.
%section.digest-signup
  .container
    = form_for @user, remote:true do |f|
      .row-fluid
        .span7.offset1
          =hidden_field_tag :digest_subscription, "true"
          .inline_error#email-error{style:"display:none;"}
          = f.email_field :email, placeholder:"Email", class:"span12 mbn"
          .tiny.gray-light
            Your subscription is private and we'll never spam you.
        .span3
          = f.submit("Subscribe", class:"btn btn-primary btn-large span12", onclick:"_gaq.push(['_trackEvent', 'Digest', 'Signup']);")
      .row-fluid
        .span10.offset1
          .well.controls.other-job-category-section.inactive{style:"display:none;"}
            .inline_error#categories-error{style:"display:none;"}
            .inline_error#other_job_category-error{style:"display:none;"}
            .help-block.mbs
              %b Which category fits you best?
            %p.checkbox-group.mobile-checkbox-group
              - CompanyDept.all.each do |dept|
                = radio_button_tag("category", dept.id, (@depts.include?(dept.id.to_s) if @depts), name:'company_depts[]', class:"#{dept.name}-radio-tag pull-left")
                = label_tag "category_#{dept.id.to_s}" do
                  = capitalize_phrase(dept.name)
                  - if dept.name == "other"
                    %br.visible-phone
                    = text_field("other_job_category", nil, value: @other_job_category, class:"mlm #{'field_with_errors' if @user.errors[:other_job_category].first}", placeholder:"* Job category")