!!!
%html
  %head
    = render 'shared/head'

  %body.home
    .home
      = render 'shared/navbar'
    = render 'shared/flash'
    .content-with-nav
      = yield
    = javascript_include_tag "application"