!!!
%html
  %head
    %title inner circle - build your talent-community
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if IE]
      %script{src:"http://html5shim.googlecode.com/svn/trunk/html5.js"}
  %body{:id => controller_name }
    .container
      .row
        .span5.column-center.text-center
          = render "shared/flash", :flash=>flash
    = yield